div {
  padding: 30px;
  margin-bottom: 10px;
  text-align: center;
  color: #EEEEEE;
}

.introduction {
  background-color: #548CA8;
}

.main-content {
  background-color: #476072;
}

.contact-us {
  background-color: #334257;
}

.flex-container {
  display: flex;
}

.flex-container div {
  display: flex;
  background-color: peachpuff;
  border: 4px solid brown;
  height: 100px;
  margin: 5px;
  flex: 1;
}

.two div {
  background-color: pink;
  border: 4px solid green;
  height: 15px;
  margin: auto;
  flex: 1;
}
