div {
  padding: 30px;
  margin-bottom: 10px;
  text-align: center;
  color: #EEEEEE;
}

.introduction {
  background-color: #548CA8;
}

.main-content {
  background-color: #476072;
}

.contact-us {
  background-color: #334257;
}